<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add category</title>
</head>
<body>
<form action="{% url 'blogs:add_category' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Добавить новую категорию">
</form>

</body>
</html>