<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{ Name }}</title>
    <style>
        {% include "blogs/styles.css" %}
    </style>
</head>

<body>
    <div class="wrapper" id="body"> </div>
<script>
var xhr = new XMLHttpRequest();
xhr.open('GET', "{{ url }}", false);
xhr.send();

if (xhr.status != 200) {
  document.getElementById("body").innerHTML = ( xhr.status + ': ' + xhr.statusText );
} else {
  let data_json = JSON.parse(xhr.responseText);

  let e = document.getElementById("body");

  data_json.forEach(b => e.innerHTML +=`
                    <div><header style="text-align:center;"><a href="/blog/${b.id}/"> ${b.name}</a></header>
                    <header><br/>Блог в категории:
                        <a href="/Categories/${b.category}/"> ${b.category} </a></br></header>
                    <br><main> ${b.text.substring(0,51)}</main><br>
                    <footer> Автор: <a href="/author/${b.author}/"> ${b.author}</a>
                    <br> Дата: ${b.date}</br></footer></div>`);
  }


</script>

<br><a href="{% url 'blogs:home_page' %}"><- Вернуться на главную страницу</a></br>

</body>
</html>