<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Name }}</title>
</head>
<body>
    <div id="body"> </div>
<script>
var xhr = new XMLHttpRequest();
xhr.open('GET', "{{ url }}", false);
xhr.send();

if (xhr.status != 200) {
  document.getElementById("body").innerHTML = ( xhr.status + ': ' + xhr.statusText );
} else {
  let b = JSON.parse(xhr.responseText);

  let e = document.getElementById("body");

  console.log(b)
  e.innerHTML +=`
                    <h1><a href="/blog/${b.id}/"> ${b.name}</a></h1>
                    <br><a href="{% url 'blogs:home_page' %}"><- Вернуться на главную страницу</a></br>
                    <h3><br/>Блог в категории:
                        <a href="/Categories/${b.category}/"> ${b.category} </a></br></h3>
                    <h3>${b.text}<h3>
                    <h3> Автор: <a href="/author/${b.author}/"> ${b.author}</a>
                    <br>Дата: ${b.date}</br></h3>`;
  }


</script>



</body>
</html>




