<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some error</title>
</head>
<body>
<h3>Запись автора {{ author }}</h3>
<h3>К сожалению у вас нет прав чтобы откредактировать данную запись</h3>
<h3><a href="{% url 'blogs:blogs_list' %}"><- Вернуться</a></h3>
</body>
</html>