.wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        grid-auto-rows: minmax(200px, auto)
            }
    .wrapper > div{
        padding: 1em;
        border: 2px solid black;
        background-color: MediumAquamarine;
                  }
    header {
        background-color: lime;
        font-family: Comic Sans MS, Comic Sans, cursive;
            }

    main {
        background-color: yellow;
        grid-area: main;
         }

    footer {
        background-color: red;
        grid-column: foot;
           }