<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserHome</title>
</head>
<body>
<h1> Добро пожаловать на домашнюю страницу {{ request.user.first_name }}!</h1>
<h2>Аккаунт пользователя: {{ request.user }}</h2>

<h4>Мои посты <a href="{% url 'blogs:author_blogs' name=request.user %}">  <input type="submit" value="Открыть"></a></h4>
<h4>Добавить новый пост <a href="{% url 'blogs:add_blog' %}">  <input type="submit" value="Добавить пост"></a></h4>
<h4>Добавить новую категорию <a href="{% url 'blogs:add_category' %}">  <input type="submit" value="Добавить категорию"></a></h4>
<h4>Выйти из учетной записи <a href="{% url 'users:logout' %}">  <input type="submit" value="Выйти"></a></h4>
</body>
</html>
